{% extends 'books/base.html' %}

{% block body %}

<div class="books-container container-fluid col-sm-6">

    <!-- Books -->
    <div class="row">
        <div class="col-sm-6">
        </div>
            <h1>&nbsp;&nbsp;Buy Orders:</h1>
            <br><br>
            {% for book in books %}
                {% if book.buy_sell == 1 %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href="{% url 'books:detail' book.id %}">
                            {% if book.cover %}
                                <img src="{{ book.cover.url }}" class="img-responsive center-block" style="height:400px">
                            {% elif book.image_url %}
                                <img src="{{ book.image_url }}" class="img-responsive center-block" style="height:400px">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                        <div class="caption">
                            <div style="height: 30px; text-overflow: ellipsis; overflow-y: hidden;"><h4>{{ book.title }}</h4></div>
                            <h6>by {{ book.author }}</h6>
                            <h6>INR {{ book.cost }}</h6>
                            <!-- View Details -->
                            <a href="{% url 'books:detail' book.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                        </div>
                    </div>
                </div>
                {% else %}
                    <h3>&nbsp;&nbsp;Sorry, didn't find any books matching your search.</h3>
                {% endif %}
            {% endfor %}
    </div>
</div>

<div class="books-container container-fluid col-sm-6">

    <div class="row">
        <div class="col-sm-6">
        </div>
            <h1>&nbsp;&nbsp;Buy Orders:</h1>
            <br><br>
            {% for book in books %}
                {% if book.buy_sell == 2 %}
                <div class="col-md-3">
                    <div class="thumbnail">
                        <a href="{% url 'books:detail' book.id %}">
                            {% if book.cover %}
                                <img src="{{ book.cover.url }}" class="img-responsive center-block" style="height:400px">
                            {% elif book.image_url %}
                                <img src="{{ book.image_url }}" class="img-responsive center-block" style="height:400px">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                        <div class="caption">
                            <div style="height: 30px; text-overflow: ellipsis; overflow-y: hidden;"><h4>{{ book.title }}</h4></div>
                            <h6>by {{ book.author }}</h6>
                            <h6>INR {{ book.cost }}</h6>
                            <!-- View Details -->
                            <a href="{% url 'books:detail' book.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                        </div>
                    </div>
                </div>
                {% else %}
                    <h3>&nbsp;&nbsp;Sorry, didn't find any books matching your search.</h3>
                {% endif %}
            {% endfor %}
    </div>
</div>

{% endblock %}
